---
import Container from '../ui/Container.astro';
import MainNav from '../navigation/MainNav.astro';
import ContactList from '../ui/ContactList.astro';

interface HeaderProps {
  brandLabel?: string;
  brandHref?: string;
  pathname?: string;
}

const {
  brandLabel = '',
  brandHref = '/',
  pathname = '/',
} = Astro.props as HeaderProps;
---

<header class="site-header site-header--sticky">
  <Container size="wide" class="site-header__inner">
    <div class="site-header__brand">
      {brandLabel && (
        <div class="site-header__brand-stack">
          <a class="site-header__brand-link" href={brandHref}>{brandLabel}</a>
          <ContactList />
        </div>
      )}
    </div>

    <div class="site-header__nav">
      <MainNav pathname={pathname} />
    </div>
  </Container>
</header>
