---
import Card from './Card.astro';

interface FeatureMediaProps {
  src: string;
  alt: string;
  class?: string;
}

const {
  src,
  alt,
  class: className = '',
} = Astro.props as FeatureMediaProps;
---

<div class:list={['feature-media', className]}>
  <Card class="feature-media__card">
    <img class="feature-media__image" src={src} alt={alt} loading="lazy" />
  </Card>
</div>
